.box {
    width: 75px;
    height: 50px;
    border: 2px solid black;
    background-color: grey;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
}

#navbarResponsive {
  background-color: #66CDAA;
}

#bottom-navbar {
  list-style-type: none
}

#review-your-cart {
  text-align: center;
}

#choose-ingredients {
  text-align: center;
}
a {
  color: gray
}
#select-a-store {
  text-align: center;
}



#accordion .panel{
    border: none;
    border-radius: 0;
    box-shadow: none;
   /* margin: 0 30px 10px 30px;*/
    overflow: hidden;
    position: relative;
}
#accordion .panel-heading{
    padding: 0;
    border: none;
    width: 100%
    border-radius: 0;
    position: relative;
}
#accordion .panel-title a{
    display: block;
    width: 100%;
    padding: 15px 20px;
    margin: 10;
    background: #5c5c5c;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 0;
    position: relative;
}
#accordion .panel-title a.collapsed{
  display: block;
  width: 100%;
  background: #ababab;}
#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before{
    content: "\f068";
    font-family: fontawesome;
    width: 30px;
    height: 30px;
    line-height: 25px;
    border-radius: 100%;
    background: ##727272;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    border: 3px solid #fff;
    position: absolute;
    top: 10px;
    right: 14px;
}
#accordion .panel-title a.collapsed:before{
    content: "\f067";
    background: #ababab;
    border: 4px solid #ababab;
}
#accordion .panel-title a:after,
#accordion .panel-title a.collapsed:after{
    content: "";
    width: 17px;
    height: 7px;
    background: #fff;
    position: absolute;
    top: 22px;
    right: 0;
}
#accordion .panel-title a.collapsed:after{
    width: 19px;
    background: #ababab;
}
#accordion .panel-body{
    border-left: 3px solid ##ababab;
    border-top: none;
    background: #fff;
    /*font-size: 15px;*/
    color: ##ababab;
    line-height: 27px;
    position: relative;
}
#accordion .panel-body:before{
    content: "";
    height: 3px;
    width: 100%;
    background: ##ababab;
    position: absolute;
    bottom: 0;
    left: 0;
}
#accordion .panel-body p{
  padding: 10px;
}
