.box {
    width: 75px;
    height: 50px;
    border: 2px solid black;
    background-color: grey;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
}

#navbarResponsive {
  background-color: #66CDAA;
}

#bottom-navbar {
  list-style-type: none
}

#review-your-cart {
  text-align: center;
}

#choose-ingredients {
  text-align: center;
}
a {
  color: gray
}
#select-a-store {
  text-align: center;
}
